/* ---------------------- */
/*     NAVIGATION BAR     */
/* ---------------------- */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(8px);
    padding: 18px 0;
}

/* UL stijl */
.navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;                    /* afstand tussen links */
    list-style: none;
    margin: 0;
    padding: 0;
}

/* links */
.navbar ul li a {
    color: white;
    text-decoration: none;

    font-family: "Montserrat", sans-serif;
    font-size: 1.35rem;
    font-weight: 800;
    text-transform: uppercase;

    letter-spacing: 1px;
    transition: 0.25s ease;

    text-shadow: 0 0 12px rgba(255, 255, 255, 0.45);
}

.navbar ul li a:hover {
    transform: scale(1.15);
    color: #90e8f8;
    text-shadow: 0 0 20px rgba(144, 232, 248, 0.9);
}
